body{
    font-family: Arial,  sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background: black;
    text-align: center;
    color: white;
    
}
section{
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}
table{
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}

figure{
    text-align: center;
}